<%- include("header"); -%>

    <div class="box" id="heading">
        <h1><%= listTitle %> ToDo List ! </h1>
    </div>

    <div class="box">
            <% for(let i = 0; i < newListItems.length; i++){ %>
                <div class="item">
                    <input type="checkbox"  >
                    <p><%=newListItems[i]%></p> 
                </div>
           <% } %> 
        

           <form class="item" action="/" method="post">
            <label for="fname"></label><br>
            <input type="text" id="toDoAdd" name="toDoAdd" placeholder="new to do"  autocomplete="off"><br>
            <button type="submit" name="list" value=<%=listTitle %>>+</button>
          </form> 

    </div>

<%- include("footer"); -%>

